<html>
    <head>
        <title>Gender-and-Age-Recognition</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

    <body>


        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <h1>This is only for a school project. This app does not mean to discriminate against any age or sex group.</h1>
                   
                    <a href="/index"><button type="button" class="btn-primary">Push button to get into the app</button></a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>


    </body>

</html>
